html, body {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/* Side panel */
#side-panel {
  width: 30%;
  background: #ffffff;
  border-right: 1px solid #ddd;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  font-size: 14px;
}

#side-panel b {
  font-size: 16px;
}

/* Map */
#map {
  flex: 1;
}

a {
  color: #0645ad;
  text-decoration: none;
}